// GLOBAL VARIABLES

// Fonts
$fonts: (ygency-primary-font: Inter, ygency-secondary-font: Inter)

// Font Family
$font-primary: var(--ygency-primary-font)
$font-secondary: var(--ygency-secondary-font)

// body font size
$base-size: 16px

// heading font size
$h1-size: 80px
$h2-size: 48px
$h3-size: 30px
$h4-size: 24px
$h5-size: 20px
$h6-size: 16px

// Colors
$colors: (ygency-primary-color: #55E6A5, ygency-secondary-color: #ffffff, ygency-tertiary-color: #16161c, ygency-body-color: rgba(255, 255, 255, 0.75), ygency-headline-color: #ffffff, ygency-border-color: rgba(255, 255, 255, 0.10), ygency-dark-color: #02050A, ygency-primary-rgb: '85,230,165', ygency-secondary-rgb: '255,255,255', ygency-tertiary-rgb: '22,22,28')


$color-body: var(--ygency-body-color)
$color-secondary: var(--ygency-secondary-color)
$color-primary: var(--ygency-primary-color)
$color-tertiary: var(--ygency-tertiary-color)
$color-headline: var(--ygency-headline-color)
$color-border: var(--ygency-border-color)
$color-dark: var(--ygency-dark-color)
$color-primary-rgb: var(--ygency-primary-rgb)
$color-secondary-rgb: var(--ygency-secondary-rgb)
$color-tertiary-rgb: var(--ygency-tertiary-rgb)

$box-shadow: 3px 0 60px transparentize(map-get($colors, ygency-primary-color), 0.8)
$bgc-gradient: linear-gradient( -30deg, rgb(48,240,182) 0%, rgb(103,77,243) 100%)


// layout
$gutter: 30px
$container: 1355px

// Breakpoints.
$breakpoints: ( xs: 376px, ms: 480px, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px, lp: 1300px, lb: 1600px )
